{
  "presets": [
    "latest",
    "react",
    "stage-1"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ],
      "plugins": [
        "jsx-control-statements"
      ]
    },
    "production": {
      "plugins": [
        "jsx-control-statements"
      ]
    }
  }
}
