/**
* Rangeslider
*/
.rangeslider {
  margin: 20px 0;
  position: relative;
  background: #e6e6e6;
  height: 5px;
  transform: scale(1);
  transition: all 0.2s;

  .rangeslider__fill, .rangeslider__handle {
    position: absolute;
  }

  &, .rangeslider__fill {
    display: block;
  }

  .rangeslider__fill {
    height: 100%;
    background: #27ae60;
    top: 0;
  }

  .rangeslider__handle {
    background: darken(#27ae60, 10);
    cursor: pointer;
    display: inline-block;
    position: absolute;
    width: 7px;
    height: 7px;
    top: -1px;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.2s;
    &:active {
      background: #999;
    }
  }

  &:hover {
    .rangeslider__handle {
      transform: scale(5);
    }
  }
}
