/*
* COLOR PALETTE
*/

//STATUSES
$PRIMARY: #FCBE44;
$INFO: #1f93d9;
$SUCCESS: #31993d;
$REJECT: #993724;

//HEADER
$BG: #F5F5F5;
$BORDER: #fbd995;
$SHADOW: #EDEDED;
$TAB_LINK_COLOR: #fff;

//HEADER-SEARCH
$SEARCH_COLOR: #FFF;
$SEARCH_ICON_COLOR: rgba(#fff, 0.8);

//TYPOGRAPHY
$H1: #6A6A6A;
$DIVIDER_BORDER: #E9E9E9;
$DIVIDER_TEXT_COLOR: #BCBCBC;
