/*
* COLOR PALETTE
*/

//STATUSES
$PRIMARY: #FCBE44;
$INFO: #1f93d9;
$SUCCESS: #31993d;
$REJECT: #993724;

//HEADER
$BG: #F5F5F5;
$BORDER: #E5E5E5;
$SHADOW: #EDEDED;
$TAB_LINK_COLOR: #9C9C9C;

//HEADER-SEARCH
$SEARCH_COLOR: #D2D2D2;
$SEARCH_ICON_COLOR: #ACACAC;

//TYPOGRAPHY
$H1: #6A6A6A;
$DIVIDER_BORDER: #E9E9E9;
$DIVIDER_TEXT_COLOR: #BCBCBC;
