@import '../style/_palette.scss';
@import '../style/_fonts.scss';

.header {
  height: 70px;
  background-color: $PRIMARY;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
              0 1px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;

  [class*='container'] {
    flex: 1;
    align-items: center;
    display: flex;
  }
}

.left,
.right{
  flex-direction: column;
  flex: 1;

  form {
    display: inline-block;
  }
}

.right {
  text-align: right;
  display: flex;
}

.logotype {
  font-weight: 600;

  &,
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.search-input-wrapper {
  position: relative;
  margin-left: 20px;

  @media screen and (max-width: 600px) {
    display: none;
  }

  input[type="submit"]{
    opacity: 0;
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  label {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -0.6em;
    padding-left: 25px;
    text-transform: uppercase;
    font-family: $ROBOTO;
    color: $SEARCH_COLOR;
    cursor: text;
  }

  span {
    color: $SEARCH_ICON_COLOR;
    position: absolute;
    font-size: 0.8em;
    z-index: 1;
    top: 50%;
    left: 8px;
    margin-top: -0.5em;
    pointer-events: none;
  }

  input[type="text"] {
    position: relative;
    cursor: text;
    border: none;
    color: $SEARCH_ICON_COLOR;
    padding-left: 25px;
    line-height: 2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: transparent;


    &:focus {
      outline: none;
      box-shadow: 0 0 0 1px #bd9113,
                  0 0 0 3px rgba(189, 145, 19, 0.3),
                  inset 0 1px 1px rgba(26, 25, 16, 0.2);
      background-color: #f7c156;
    }

    &:focus + label,
    &.notempty + label {
      display: none;
    }
  }
}


.tabs {
  text-align: left;
  align-self: flex-end;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li {
      display: inline-block;

      &.menu-item {
        @media screen and (max-width: 800px) {
          display: none;
        }
      }

      &.mobile-menu {
        display: none;

        @media screen and (max-width: 800px) {
          display: inherit;
        }

        [class*="pt-popover-target"] {
          align-self: center;
        }
      }

      &.add-item {
        position: relative;
        margin-left: 15px;

        @media screen and (max-width: 480px) {
          display: none;
        }

        a {
          display: block;
          height: 50px;
          width: 50px;
          background-color: #fff;
          border-radius: 50%;
          padding: 0;
          line-height: 50px;
          font-size: 2em;
          text-align: center;
          margin: 8px 0 0;
          transition:  transform 0.2s, opacity 0.2s;

          @media screen and (max-width: 800px) {
            margin-top: 0;
          }

          &,
          &:hover,
          &:focus {
            color: $PRIMARY;
            text-decoration: none;
          }

          &:hover,
          &:focus {
            transform: scale(1.05);
            opacity: 0.9;
          }
        }
      }

      &.separator {
        position: relative;
        height: 25px;
        width: 1px;
        background-color: $BORDER;
        align-self: center;
        margin: 0 15px;
      }

      &.user-menu {
        position: relative;
        align-self: center;
      }

      > a {
        display: block;
        padding: 24px 10px;
        color: $TAB_LINK_COLOR;
        text-decoration: none;
        border-bottom: 3px solid transparent;
        white-space: nowrap;

        &:hover,
        &:focus {
          color: darken($TAB_LINK_COLOR, 5);
        }

        &[class*='active'] {
          color: $TAB_LINK_COLOR;
          border-color: $TAB_LINK_COLOR;
          font-weight: 600;

          &:hover,
          &:focus {
            color: lighten($TAB_LINK_COLOR, 5);
          }
        }
      }
    }
  }
}

.avatar-wrapper {
  flex-align: center;

  .avatar {
    position: relative;
    display: block;
    color: #fff;

    &:hover,
    &:focus {
      color: darken(#fff, 5);
    }

    .avatar-image {
      width: 45px;
      height: 45px;
      overflow: hidden;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin-right: 20px;

      img {
        min-height: 45px;
        width: 100%;
      }
    }

    span {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -7px;
    }
  }
}

[class*="item-visible-mobile"] {
  @media screen and (min-width: 481px) {
    display: none;
  }
}
